{% extends "::base.html.twig" %}
  {% block title %}Welcome to ScenarioEd{% endblock %}

  {% block body %}
  <h1>{{ block('title') }}</h1>
  <p>ScenarioEd aims to improve conversations amongst all the participants in a software project
  by removing technical barriers to entry in the creation and maintenance of Behat feature descriptions.</p>
  
  <p>To try this demo:
  <ol>
  <li>Create an account</li>
  <li>Log in</li>
  <li>Visit the <a href="{{ path('project') }}">Projects page</a></li>
  </ol>
  
  
  </p>
  {% endblock %}
